# Ignore node_modules directory
node_modules/

# Ignore logs
*.log

# Ignore build directories
dist/
build/

# Ignore IDE-specific files (e.g., for VSCode)
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db

.env
